body {
	background-color: rgb(2, 151, 121);
}

@font-face {
    font-family: 'robotomedium';
    src: url('roboto-medium-webfont.woff2') format('woff2'),
         url('roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	font-family: 'robotomedium';
	color: white;
}

.top {
  display: flex;

}

.top img {
  margin-right: 10px;
  display: block;
}

.top h3,
.top h1 {margin: 0;}